@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

#root {
	overflow-x: hidden;
}

.icon-btn {
	font-size: 1.2rem;
}

.icon-btn-nav-item {
	font-size: 1.3rem;
}

.primary-text-color {
	color: #ff3f6c;
}

.link-text {
	text-decoration: none;
}

.link-text:hover {
	text-decoration: underline;
}

.post-content a {
	color: #2b6cb0;
}

.post-content a:hover {
	text-decoration: underline;
}
